@import './normalize.css';

:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body:#918ca4;
    --color-nav: #fff;
    --color-body-darker:#5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography */
html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    background: tan;
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* TODO: Links */

/* TODO: Badges */

/* List */
.list {
    list-style: none;
    padding-left: 0;
    text-transform: uppercase;
    margin: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

/* Icons */
.icon {
    width: 60px;
    height: 60px;
}

.icon--large {
    width: 100px;
    height: 100px;
}

.icon--small {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-body-darker);
}

.icon--white {
    fill: var(--color-nav);
}

.icon-container {

}

/* Link */
a {
    text-decoration: none;
}

/* Button */
.btn {
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 550;
    margin: 1rem 0;
    outline: 0;
    padding: 1.5rem 3.5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    letter-spacing: 0.5rem;
}

.btn--primary {
    background: var(--color-body-darker);
}

.btn--primary .btn--transparent{
    opacity: 0.5;
}

.btn--primary:hover {
    background: #918ca4;
}

.btn--outline {
    background: var(--color-body-darker);
    border: 2px solid #fff;
}

.btn--outline:hover {
    background: #fff;
    border: 2px solid #000;
    color: #000;
}

/* TODO: Input */

/* Image */
.image--cropped  {
    /* display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto; */
}

.image--cropped > img {
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Plan */
.plan {
    padding: 2rem 2rem;
    display: inline-block;
    justify-content: center;
    transition: transform .2s ease-out
}

.plan--name {
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 2rem;
}

.plan--title{
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.plan:hover {
    transform: scale(1.05);
}

/* TODO: Media */

/* TODO: Quote */

/* Grids */
.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x4 {
        grid-template-columns: repeat(4, 1fr)
    }
}

/* TODO: Testimonial */

/* TODO: Callout */

/* Collapsible */
.collapsible {
    border-bottom: 1px solid #fff;
    padding: 2rem 0rem
}

.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible_heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__toggler {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__toggler {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    /* display: block; */
    max-height: 100vh;
    opacity: 1;
}

/* Blocks */
.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.block__header {
    text-align: center;
    margin-bottom: 4rem;
}

.block__heading {
    margin-top: 0;
}

.block--dark {
    background: #000;
    color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
    color: #fff;
}

.block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

.block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* Navigation Bar */
.nav {
    background: #d8d1c7;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
    margin: 0;
}

.nav__list{
    width: 100%;
    max-height: 0;
    font-weight: bold;
    letter-spacing: 0.2rem;
    /* font-size: 1rem; */
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--color-body-darker);
}

.nav__item > a {
    color: var(--color-body-darker);
    transition: color 0.3s;
}

.nav__item > a:hover{
    color: #fff;
}

.nav__toggler {
    opacity: .5;
    transition: box-shadow .15s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

.nav__brand {
    transform: translateY(5px);
}

@media screen and (min-width: 770px) {
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.2rem;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item {
        border: 0;
    }
}

/* Hero */
.hero {
    position: relative;
}

.hero > img {
    width: 100%;
    height: auto;
}

.hero--content {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 120px;
}

.hero__header {
    font-family: 'Send Flowers', cursive;
    font-size: 35px;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 375px;
}

.hero__footer {
    justify-content: center;
    line-height: 0.5rem;
}

.hero__footer > p {
    color: white;
    font-size: 20px;
    margin-bottom: 0;
}

.hero__button {
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    .hero__header {
        font-size: 80px;
        margin-bottom: 1050px;
        margin-top: 2rem;
    }

    .hero__footer {
        line-height: 2rem;
    }

    .hero__footer > p {
        font-size: 40px;
        margin-bottom: 0;
    }
    
    .hero__button {
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    .hero__header {
        font-size: 110px;
        margin-bottom: 1580px;
        margin-top: 6rem;
    }

    .hero__footer {
        line-height: 2rem;
    }

    .hero__footer > p {
        font-size: 40px;
        margin-bottom: 0;
    }
    
    .hero__button {
        margin-top: 0;
    }
}

/* Detail Box */
.box {
    background: #fff;
    max-width: 25rem;
    padding: 2rem 1rem;
    opacity: 0.8;
}

.box__icon {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.box__button {
    display: block;
    margin: 2rem auto;
    font-size: 1rem;
}

.box__separator{
    max-width: 3rem;
}

/* Box Containers */
.grid__container {
    background: #ccc;
    margin: 2rem;
}

.grid__header {
    font-family: 'Send Flowers', cursive;
    font-size: 45px;
    font-weight: bold;
    line-height: 0;
    padding: 3rem;
}

.grid__header--first {
    margin-left: 0;
}

.grid__header--second {
    margin-left: 10rem;
}

.grid__header--third {
    margin-left: 35rem;
}

.grid__body {
    margin: 1rem;
    justify-content: center;
}

.grid__body--items {
    margin-bottom: 1rem;
}

.grid--outline {
    border: 2px solid #3b3a3a;
}

@media screen and (min-width: 1024px) {
    .grid__body {
        display: flex;
        align-content: space-between;
        width: auto;
    }
    
    .grid__body--items {
        margin: 1rem;
    }
}

/* Info */
.info {
    padding: 1rem;
}

.info .grid__header {
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    letter-spacing: 1rem;
}

.info .grid__header--second {
    color: #043504;
}

.info .grid__body {
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
}

.info .grid__body--items {
    /* justify-content: center; */
    /* align-items: center; */
}

.info .grid__body--items > img {
    max-width: 80%;
    /* width: 50%; */
    margin-right: auto;
    margin-left: auto;
}