@import './normalize.css';

:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body:#918ca4;
    --color-nav: #fff;
    --color-body-darker:#5c5577;
    --color-box-background: #ccc;
    --color-border: #cec;
    --border-radius: 30px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'amalficoast';
    src: url('/fonts/amalfi/amalfi_coast-webfont.woff2') format('woff2'),
         url('/fonts/amalfi/amalfi_coast-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Typography */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    background: white;
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* TODO: Links */

/* TODO: Badges */

/* List */
.list {
    list-style: none;
    padding-left: 0;
    text-transform: uppercase;
    margin: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

/* Icons */
.icon {
    width: 60px;
    height: 60px;
}

.icon--large {
    width: 100px;
    height: 100px;
}

.icon--small {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-body-darker);
}

.icon--white {
    fill: var(--color-nav);
}

.icon-container {

}

/* Link */
a {
    text-decoration: none;
}

/* Button */
.btn {
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 550;
    margin: 1rem 0;
    outline: 0;
    padding: 1.5rem 3.5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    letter-spacing: 0.5rem;
}

.btn--primary {
    background: var(--color-body-darker);
}

.btn--primary .btn--transparent{
    opacity: 0.5;
}

.btn--primary:hover {
    background: #918ca4;
}

.btn--outline {
    background: var(--color-body-darker);
    border: 2px solid #fff;
}

.btn--outline:hover {
    background: #fff;
    border: 2px solid #000;
    color: #000;
}

/* TODO: Input */

/* Image */
.image--cropped  {
    /* display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto; */
}

.image--cropped > img {
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Plan */
.plan {
    padding: 2rem 2rem;
    display: inline-block;
    justify-content: center;
    transition: transform .2s ease-out
}

.plan--name {
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 2rem;
}

.plan--title{
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.plan:hover {
    transform: scale(1.05);
}

/* TODO: Media */

/* TODO: Quote */

/* Grids */
.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x4 {
        grid-template-columns: repeat(4, 1fr)
    }
}

/* TODO: Testimonial */

/* TODO: Callout */

/* Collapsible */
.collapsible {
    border-bottom: 1px solid #fff;
    padding: 2rem 0rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible_heading {
    margin-top: 0;
    font-size: 2.2rem;
}

.collapsible__toggler {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__toggler {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    /* display: block; */
    max-height: 100vh;
    opacity: 1;
}

@media screen and (min-width: 1024px){
    .collapsible_heading {
        margin-top: 0;
        font-size: 3rem;
    }

    .collapsible__content {
        /* display: none; */
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s;
    }
}

/* Blocks */
.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.block__header {
    text-align: center;
    margin-bottom: 4rem;
}

.block__heading {
    margin-top: 0;
}

.block--dark {
    background: #000;
    color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
    color: #fff;
}

.block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

.block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* Navigation Bar */
.nav {
    background: var(--color-box-background);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
    margin: 0;
}

.nav__list{
    width: 100%;
    max-height: 0;
    font-weight: bold;
    letter-spacing: 0.2rem;
    /* font-size: 1rem; */
}

.nav__item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--color-body-darker);
}

.nav__item > a {
    color: var(--color-body-darker);
    transition: color 0.3s;
}

.nav__item > a:hover{
    color: #fff;
}

.nav__toggler {
    opacity: .5;
    transition: box-shadow .15s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

.nav__container {
    border-radius: 100%;
    /* background: var(--color-body-darker); */
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;   
    margin: 0.5rem;
}

.nav__container > p {
    font-family: 'amalficoast', 'Send Flowers', cursive;
    color: var(--color-headings);
    margin-top: 1rem;
}

.nav__brand {
    font-family: 'amalficoast', 'Send Flowers', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    /* margin: 1rem; */
}

@media screen and (min-width: 770px) {
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.2rem;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item {
        border: 0;
    }
}

/* Hero */
.hero {
    position: relative;
}

.hero > img {
    width: 100%;
    height: auto;
}

.hero--content {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 120px;
}

.hero__header {
    font-family: 'amalficoast', 'Send Flowers', cursive;
    font-size: 50px;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 375px;
}

.hero__footer {
    justify-content: center;
    line-height: 0.5rem;
}

.hero__footer > p {
    color: white;
    font-size: 20px;
    margin-bottom: 0;
}

.hero__button {
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    .hero__header {
        font-size: 80px;
        margin-bottom: 1050px;
        margin-top: 2rem;
    }

    .hero__footer {
        line-height: 2rem;
    }

    .hero__footer > p {
        font-size: 40px;
        margin-bottom: 0;
    }
    
    .hero__button {
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    .hero__header {
        font-size: 110px;
        margin-bottom: 1580px;
        margin-top: 6rem;
    }

    .hero__footer {
        line-height: 2rem;
    }

    .hero__footer > p {
        font-size: 40px;
        margin-bottom: 0;
    }
    
    .hero__button {
        margin-top: 0;
    }
}

/* Detail Box */
.box {
    background: #fff;
    max-width: 25rem;
    padding: 2rem 1rem;
    opacity: 0.8;
}

.box__icon {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.box__button {
    display: block;
    margin: 2rem auto;
    font-size: 1rem;
}

.box__separator{
    max-width: 3rem;
}

/* Box Containers */
.grid__container {
    background: var(--color-box-background);
    margin: 2rem;
}

.grid__header {
    font-family: 'amalficoast', 'Send Flowers', cursive;
    font-size: 45px;
    font-weight: bold;
    line-height: 0;
    padding: 5rem;
    align-items: center;
    color: var(--color-headings);
}

.grid__header > h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: 'amalficoast', 'Send Flowers', cursive;
}

.grid__body {
    margin: 1rem;
    justify-content: center;
}

.grid__body--items {
    margin-bottom: 1rem;
}

.grid--bg--white {
    background: white;
}

.grid--bg--image {
    background: url(/images/throne_opac.jpg);
}

.grid--transparent {
    opacity: 20%;
}

.grid__image {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    letter-spacing: 0.1rem;
}

.grid__image--img{
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 45rem;
    opacity: 0.2;
    z-index: -1;
}

.grid--contentinfo {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.grid__overlay {
    position: absolute;    
    max-width: 100rem;
    top: 4rem;
    left: 1rem;
    font-weight: bolder;
    text-align: center;
}

.grid__overlay > p {
    font-family: 'amalficoast', 'Send Flowers', cursive;
    font-size: 1.5rem;
}

.grid--outline {
    border: 2px solid #3b3a3a;
}

.grid__content{
    display: none;
    text-align: center;
    font-size: 1.5rem;
}

.grid__collapsible .grid__content {
    display: block;
}

.grid__collapsible {
    transform: scale(1.3);
    opacity: 1;
    border: 2px solid black;
}

.grid__container .grid__collapsible {
    margin-bottom: 10rem;
    margin-top: 10rem;
}

.grid__footer{
    margin-top: 5rem;
    font-family: 'amalficoast', 'Send Flowers', cursive;
    line-height: 1rem;
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    .grid__image--img{
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: 50rem;
    }
    
    .grid__overlay {
        position: absolute;    
        max-width: 60rem;
        top: 7rem;
        left: 25%;
        text-align: center;
        z-index: 1;
    }

    .grid__overlay > p {
        font-family: 'amalficoast', 'Send Flowers', cursive;
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .grid__body {
        display: flex;
        align-content: space-between;
        width: auto;
    }
    
    .grid__body--items {
        margin: 1rem;
    }

    .grid__container .grid__collapsible {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .grid__image--img{
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: 50rem;
    }
    
    .grid__overlay {
        position: absolute;    
        max-width: 60rem;
        top: 2.5rem;
        left: 25%;
        text-align: center;
        z-index: 1;
    }

    .grid--contentinfo {
        text-align: left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2rem;
    }

    .grid__overlay > p {
        font-family: 'amalficoast', 'Send Flowers', cursive;
        font-size: 3rem;
    }

    .grid__footer{
        margin-top: 5rem;
        font-family: 'amalficoast', 'Send Flowers', cursive;
        line-height: 1rem;
        font-size: 2rem;
        font-weight: bold;
    }
}

@media screen and (min-width: 1440px) {
    .grid__image--img{
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: 55rem;
    }

    .grid--contentinfo {
        text-align: left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.1rem;
    }
    
    .grid__overlay {
        position: absolute;    
        max-width: 60rem;
        top:2rem;
        left: 35%;
        font-size: 2.2rem;
        text-align: center;
    }

    .grid__overlay > p {
        font-family: 'amalficoast', 'Send Flowers', cursive;
        font-size: 3rem;
    }

    .grid__footer{
        margin-top: 5rem;
        font-family: 'amalficoast', 'Send Flowers', cursive;
        line-height: 1rem;
        font-size: 2.1rem;
        font-weight: bold;
    }
}

/* Info */
.info {
    padding: 1rem;
}

.info .grid__header {
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    letter-spacing: 1rem;
}

.info .grid__header--second {
    color: #043504;
}

.info .grid__body {
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
}

.info .grid__body--items {
    /* justify-content: center; */
    /* align-items: center; */
}

.info .grid__body--items > img {
    max-width: 80%;
    /* width: 50%; */
    margin-right: auto;
    margin-left: auto;
}

/* Gallery */
.gallery {
    padding: 2rem;
    padding-bottom: 4rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gallery > h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: 'amalficoast', 'Send Flowers', cursive;
}

.gallery__image {
    max-width: 400px;
    height: 300px;
}

.gallery__image:hover {
    transform: scale(1.1);
    border: 1px solid #ccc;
}

/* Sections - FAQ */
.faq {
    padding: 5rem;
    background: var(--color-box-background);
    margin: 2.5rem;
}

.faq > h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: 'amalficoast', 'Send Flowers', cursive;
}

/* Article */
.article {
    background: var(--color-box-background);
    margin: 2rem;
    padding: 2rem;
}

.article--header{
    text-align: center;
    font-family: 'amalficoast', 'Send Flowers', cursive;
    font-size: 3rem;
    font-weight: bold;
    line-height: 0;
    padding: 3rem;
    color: var(--color-headings);
}

.article--body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5rem;
    /* letter-spacing: 0.1rem; */
}

.article--title {
    font-family: 'amalficoast', 'Send Flowers', cursive;
    font-size: 2rem;
    padding-top: 2rem;
}

/* Fonts */
.facustom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.facustom--item {
    transform: scale(1.0);
}

@media screen and (min-width:1024px) {
    .facustom--item {
        transform: scale(1.5);
    }

    .article--header{
        text-align: center;
        font-family: 'amalficoast', 'Send Flowers', cursive;
        font-size: 45px;
        font-weight: bold;
        line-height: 0;
        padding: 3rem;
        color: var(--color-headings);
    }
}