<nav class="nav collapsible">
  <a class="nav__brand" href="/"><img src="images/logo.svg" alt="" /></a>
  <svg class="icon--small icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Home</a></li>
    <li class="nav__item"><a href="#div_story">Our Story</a></li>
    <li class="nav__item"><a href="#div_gallery">Gallery</a></li>
    <li class="nav__item"><a href="#div_details">The Details</a></li>
    <li class="nav__item"><a href="#div_faqs">FAQs</a></li>
  </ul>
</nav>
<div class="hero container">
  <img src="./images/AnkaraPose9.jpg" alt="" />
  <div class="hero--content">
    <p class="hero__header">We're Getting Married</p>
  </div>
</div>
<div id="div_gallery" class="gallery">
  <a href="/images/AnkaraPose.jpg" target="_blank">
    <img src="/images/AnkaraPose.jpg" alt="" class="gallery__image" />
  </a>
  <a href="/images/AnkaraPose2.jpg" target="_blank">
    <img src="/images/AnkaraPose2.jpg" alt="" class="gallery__image" />
  </a>
  <a href="/images/AnkaraPose3.jpg" target="_blank">
    <img src="/images/AnkaraPose3.jpg" alt="" class="gallery__image" />
  </a>
  <a href="/images/AnkaraPose4.jpg" target="_blank">
    <img src="/images/AnkaraPose4.jpg" alt="" class="gallery__image" />
  </a>
  <a href="/images/AnkaraPose5.jpg" target="_blank">
    <img src="/images/AnkaraPose5.jpg" alt="" class="gallery__image" />
  </a>
  <a href="/images/AnkaraPose6.jpg" target="_blank">
    <img src="/images/AnkaraPose6.jpg" alt="" class="gallery__image" />
  </a>
  <a href="/images/AnkaraPose7.jpg" target="_blank">
    <img src="/images/AnkaraPose7.jpg" alt="" class="gallery__image" />
  </a>
  <a href="/images/AnkaraPose8.jpg" target="_blank">
    <img src="/images/AnkaraPose8.jpg" alt="" class="gallery__image" />
  </a>
  <a href="/images/AnkaraPose9.jpg" target="_blank">
    <img src="/images/AnkaraPose9.jpg" alt="" class="gallery__image" />
  </a>
  <a href="/images/AnkaraPose10.jpg" target="_blank">
    <img src="/images/AnkaraPose10.jpg" alt="" class="gallery__image" />
  </a>
</div>
<div id="div_story" class="article">
  <div class="article__container">
    <p class="article--header">Our Story</p>
    <p class="article--body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita dicta
      voluptas dolore molestiae perferendis. Ab blanditiis consequuntur
      exercitationem alias pariatur vero corrupti vitae officiis optio
      dignissimos. Est impedit expedita commodi alias architecto voluptate harum
      corporis molestias explicabo a, reiciendis repudiandae suscipit,
      laboriosam fugiat quidem adipisci distinctio aperiam. Magnam cumque
      possimus ipsam enim, sapiente excepturi, voluptatum illum repudiandae vero
      facere esse! Quod ullam optio corrupti omnis officiis aperiam perspiciatis
      nulla, atque, totam nostrum architecto molestias incidunt? Iure nihil
      labore, commodi distinctio placeat, eveniet esse assumenda quisquam fugit
      corrupti inventore tenetur alias est aperiam maiores ipsa ipsum sed
      voluptatem reprehenderit? Hic, nulla?
    </p>
  </div>
</div>
<div id="div_details" class="grid__container info">
  <div class="grid__header">
    <p class="grid__header--first">The</p>
    <p class="grid__header--second">Wedding</p>
    <p class="grid__header--third">Day</p>
  </div>
  <div class="grid grid__body grid--outline">
    <div class="grid__body--items">
      <img src="/images/Kitana.png" alt="A profile picture" />
    </div>
    <div class="box grid__body--items">
      <svg class="icon icon--primary box__icon">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
      <div class="box__button">
        <button class="btn btn--outline box__button">Lodging</button>
      </div>
    </div>
  </div>
</div>
<div class="grid__container">
  <div class="grid__header">
    <p class="grid__header--first">Welcome</p>
    <p class="grid__header--second">Guide</p>
  </div>
  <div class="grid grid--1x4 grid__body">
    <div class="box grid__body--items">
      <svg class="icon icon--primary box__icon">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
      <hr class="box__separator" />
      <div class="box__button">
        <button class="btn btn--outline box__button">Lodging</button>
      </div>
    </div>
    <div class="box grid__body--items">
      <svg class="icon icon--primary box__icon">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
      <hr class="box__separator" />
      <div class="box__button">
        <button class="btn btn--outline box__button">transport</button>
      </div>
    </div>
    <div class="box grid__body--items">
      <svg class="icon icon--primary box__icon">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
      <hr class="box__separator" />
      <div class="box__button">
        <button class="btn btn--outline box__button">Places to Eat</button>
      </div>
    </div>
    <div class="box grid__body--items">
      <svg class="icon icon--primary box__icon">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
      <hr class="box__separator" />
      <div class="box__button">
        <button class="btn btn--outline box__button">Things to Do</button>
      </div>
    </div>
  </div>
</div>
<section id="div_faqs" class="faq">
  <h2>Frequently Asked Questions</h2>
  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible_heading">Where will the ceremony be held?</h2>
      <svg class="icon--small icon--white collapsible__toggler">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe minima
      unde esse? Magni, qui non?
    </div>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible_heading">Where should I stay?</h2>
      <svg class="icon--small icon--white collapsible__toggler">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe minima
      unde esse? Magni, qui non?
    </div>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible_heading">
        How do I get there? Will there be parking?
      </h2>
      <svg class="icon--small icon--white collapsible__toggler">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe minima
      unde esse? Magni, qui non?
    </div>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible_heading">What time should I arrive?</h2>
      <svg class="icon--small icon--white collapsible__toggler">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe minima
      unde esse? Magni, qui non?
    </div>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible_heading">What should I wear?</h2>
      <svg class="icon--small icon--white collapsible__toggler">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe minima
      unde esse? Magni, qui non?
    </div>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible_heading">What should I do if I can't make it?</h2>
      <svg class="icon--small icon--white collapsible__toggler">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe minima
      unde esse? Magni, qui non?
    </div>
  </div>
</section>
