<div class="article">
  <div class="article__container">
    <p class="article--header">Our Story</p>
    <p class="article--body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita dicta
      voluptas dolore molestiae perferendis. Ab blanditiis consequuntur
      exercitationem alias pariatur vero corrupti vitae officiis optio
      dignissimos. Est impedit expedita commodi alias architecto voluptate harum
      corporis molestias explicabo a, reiciendis repudiandae suscipit,
      laboriosam fugiat quidem adipisci distinctio aperiam. Magnam cumque
      possimus ipsam enim, sapiente excepturi, voluptatum illum repudiandae vero
      facere esse! Quod ullam optio corrupti omnis officiis aperiam perspiciatis
      nulla, atque, totam nostrum architecto molestias incidunt? Iure nihil
      labore, commodi distinctio placeat, eveniet esse assumenda quisquam fugit
      corrupti inventore tenetur alias est aperiam maiores ipsa ipsum sed
      voluptatem reprehenderit? Hic, nulla?
    </p>
  </div>
</div>
