<div class="grid__container">
  <div class="grid__header">
    <p class="grid__header--first">Welcome</p>
    <p class="grid__header--second">Guide</p>
  </div>
  <div class="grid grid--1x4 grid__body">
    <div class="box grid__body--items">
      <svg class="icon icon--primary box__icon">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
      <hr class="box__separator" />
      <div class="box__button">
        <button class="btn btn--outline box__button">Lodging</button>
      </div>
    </div>
    <div class="box grid__body--items">
      <svg class="icon icon--primary box__icon">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
      <hr class="box__separator" />
      <div class="box__button">
        <button class="btn btn--outline box__button">transport</button>
      </div>
    </div>
    <div class="box grid__body--items">
      <svg class="icon icon--primary box__icon">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
      <hr class="box__separator" />
      <div class="box__button">
        <button class="btn btn--outline box__button">Places to Eat</button>
      </div>
    </div>
    <div class="box grid__body--items">
      <svg class="icon icon--primary box__icon">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
      <hr class="box__separator" />
      <div class="box__button">
        <button class="btn btn--outline box__button">Things to Do</button>
      </div>
    </div>
  </div>
</div>
