<div class="hero container">
  <img src="./images/AnkaraPose2.jpg" alt="" />
  <div class="hero--content">
    <p class="hero__header">We're Getting Married</p>
    <div class="hero__footer">
      <p>Location: Abuja, Nigeria</p>
      <button class="btn btn--primary hero__button">RSVP</button>
    </div>
  </div>
</div>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis minima
  corporis ex est. Placeat eveniet natus ab saepe necessitatibus. Doloribus ad
  molestiae qui error consequuntur nemo deserunt accusantium quos, quae officiis
  molestias animi atque! Earum aperiam adipisci consequatur voluptate iste quo
  obcaecati non minima, eum quibusdam quasi sint, totam tenetur magni quae odit
  natus beatae officia molestias voluptatum culpa! Possimus dolorem voluptate id
  ullam suscipit consectetur tenetur molestiae aut consequuntur assumenda
  distinctio eius esse, corrupti non incidunt quia delectus iure praesentium
  quos vel? Iure maiores, suscipit velit molestiae explicabo reiciendis
  consequatur eveniet placeat accusantium dolores incidunt nulla, laboriosam
  tempora dolorem commodi? Illum similique dicta obcaecati quod nisi distinctio
  accusantium quasi modi aliquam veniam fugiat, alias voluptatem, in repudiandae
  harum itaque enim perspiciatis ad nobis eos assumenda. Fugit est, asperiores
  repudiandae, quidem ipsam iusto delectus assumenda eligendi veniam, enim
  perspiciatis tempora minus possimus ipsa illo nulla nesciunt odio nostrum
  adipisci tempore. Dolore sunt, officia distinctio, assumenda facere dolorem
  impedit dolorum reprehenderit autem architecto magnam adipisci asperiores
  deleniti dignissimos! Nihil necessitatibus veritatis totam porro, commodi
  provident exercitationem expedita reprehenderit nisi repudiandae molestiae, ad
  maxime aliquid ratione voluptates repellendus mollitia recusandae amet. Minus
  tempora placeat nobis deleniti provident ipsum fugiat nulla quisquam labore,
  dignissimos dicta, assumenda vitae dolorum quam eaque, perferendis aliquam
  voluptatibus? Expedita soluta sint unde delectus magni dolores, vitae nesciunt
  praesentium, repellat ratione eveniet voluptates autem sed, nostrum animi
  quisquam. Eum, voluptatibus voluptatem unde repellat dignissimos quasi
  reprehenderit vitae neque veniam, iste ea laudantium at minima, ipsum
  consequatur aut quaerat dicta cum eaque quis aperiam aspernatur maxime
  obcaecati id? Quas pariatur laboriosam aliquid eveniet placeat atque facilis.
  Recusandae eveniet, atque quos repellendus quam, pariatur unde odit nulla qui
  repellat voluptatum perferendis nihil eos obcaecati adipisci quisquam? Nostrum
  quam officia voluptatibus quo rem fugit accusamus culpa blanditiis laborum
  iusto iste magnam quas tenetur delectus asperiores temporibus minima sequi eum
  atque, eveniet aperiam, dolore molestiae! Adipisci beatae cumque ipsam
  voluptatem vitae. Rerum blanditiis eum voluptatem! Adipisci voluptates
  asperiores cumque molestias ipsum quia aliquid nam incidunt quas a quasi sit,
  deserunt aut qui quod, minima voluptatem consectetur atque animi optio, est
  odit necessitatibus iusto. Aspernatur dolorem natus neque expedita cumque
  animi obcaecati vitae ipsum dicta, porro consequatur eum aliquid impedit
  magnam reprehenderit beatae blanditiis qui similique molestiae adipisci, quia
  harum quaerat! Quos consequuntur impedit quae quas praesentium cumque nostrum
  sed quidem, optio iure tempora aliquid laudantium maiores pariatur sunt
  asperiores aut amet. At iure tempora exercitationem, voluptatibus perferendis
  consectetur dolor deserunt veniam voluptatum vel accusamus pariatur officiis
  aliquam animi. Dignissimos nam dolore rerum earum repudiandae pariatur aliquam
  velit accusamus eaque nesciunt beatae natus quasi, dolorum repellat nostrum
  neque explicabo inventore distinctio laboriosam suscipit deleniti quam,
  delectus illum ipsum! Provident nam necessitatibus molestiae quidem. Rem ut id
  sequi molestiae ad illum quae consequuntur eum excepturi. Dicta consequatur
  adipisci nostrum corporis itaque commodi reprehenderit similique quisquam, ad
  quidem ullam dolore voluptatem hic in repellat non fugiat quis, voluptatum
  error. Exercitationem expedita cum consequuntur officiis, cupiditate quas
  aliquam, deleniti optio pariatur, quia dicta eum. A, accusantium nihil.
</p>
