<div class="grid__container info">
  <div class="grid__header">
    <p class="grid__header--first">The</p>
    <p class="grid__header--second">Wedding</p>
    <p class="grid__header--third">Day</p>
  </div>
  <div class="grid grid__body grid--outline">
    <div class="grid__body--items">
      <img src="/images/Kitana.png" alt="A profile picture" />
    </div>
    <div class="box grid__body--items">
      <svg class="icon icon--primary box__icon">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
      <div class="box__button">
        <button class="btn btn--outline box__button">Lodging</button>
      </div>
    </div>
  </div>
</div>
