<div class="plan">
  <div class="image--cropped">
    <img src="./images/Kitana.png" alt="" />
  </div>
  <h3 class="plan--name">Carl "Cj" Johanson</h3>
  <h4 class="plan--title">Best Man</h4>
  <h4 class="plan--title">Brother of the Groom</h4>
</div>
<div class="plan">
  <div class="image--cropped">
    <img src="./images/Kitana.png" alt="" />
  </div>
  <h3 class="plan--name">Michael Kapalsky</h3>
  <h4 class="plan--title">Best Man</h4>
  <h4 class="plan--title">Brother of the Groom</h4>
</div>
<div class="plan">
  <div class="image--cropped">
    <img src="./images/Kitana.png" alt="" />
  </div>
  <h3 class="plan--name">Superman Batman</h3>
  <h4 class="plan--title">Best Man</h4>
  <h4 class="plan--title">Brother of the Groom</h4>
</div>
